{% extends 'base.html.twig' %}

{% block title %} Add Answer {% endblock %}

{% block  body %}

{{ form_start(answerForm) }}
{{ form_widget(answerForm) }}
<button class="btn btn-success mt-4">Save</button>
{{ form_end(answerForm) }}

{% endblock %}