{% extends 'base.html.twig' %}

{% block body %}
    <h4>Please Verify your email address.</h4>
    <button class="btn btn-primary btn-sm">Re-Send Verify Link</button>
{% endblock %}

{% block title %}

{% endblock %}

