<html>
    <head>


    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <td>Demo</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td>fds</td>
                        <td>re</td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>